#song-column
  %span.glyphicon.glyphicon-remove#hide
  .col-md-12.text-center
    %h2 Upload Audio
    %hr
  .col-md-10.col-md-offset-1
    %p Search your computer for audio files you'd like to upload.
    %button.btn.btn-info.btn-block Search
    %br
    %label.form-label Name your upload.
    %input.form-control
    %p You're now ready to upload your file.
    %button.btn.btn-success Done!
