// <script>
//   $('body').css('backgroundImage', function () {
//       $('body').animate({
//           backgroundColor: 'transparent'
//       }, 1000, function () {
//         setTimeout(function () {
//             $('body').animate({
//                 backgroundColor: 'rgb(255,255,255)'
//             }, 1000);
//         }, 3000);
//       });
//       return 'url(/assets/jammer_background.jpg)';
//   });
// </script>
<div class="col-md-12">
  <h2 class="profile-header">Search</h2>
</div>
