.user-body-content
  .col-md-12
    .search-background
    .tab-content
      .tab-pane#search{ class: matches_action?('search') }
        = render partial: "search"
      -# .tab-pane#home{ class: matches_action?('home') }
        -# = render partial: "home"
      .tab-pane#profile{ class: matches_action?('show') }
        = render partial: "profile"
      .tab-pane#settings{ class: matches_action?('settings') }
        = render partial: "settings"
