<div class="col-md-12">
  <h2 class="profile-header">Your Profile</h2>
  <div class="col-md-5 profile-left">
    <p>Name:</p>
    <p>Email:</p>
  </div>
  <div class="col-md-5 profile-right">
    <p>Instruments:</p>
    <p>Genres:</p>
  </div>
  <div class="col-md-12">
    <button class="btn btn-info" id="upload-song">Upload Songs</button>
  </div>
</div>
