$brand-primary : #7ca924;
$brand-success : #99c542;
$brand-info : #2b7e7e;
$brand-warning : #d5cd2d;
$brand-danger : #d34747;
$link-color : #085656;
$line-height-large : 1.3333333;
$input-border-focus : #459393;
$input-color-placeholder : #176c6c;
$navbar-default-bg : rgb(198, 198, 198);
$border-radius-base: 1px;
$border-radius-large: 1px;
$border-radius-small: 1px;
