// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.profile-header
{
  margin-top: 0px;
  font-size: 40px;
}

.profile-navigation-item
{
  width: 90px;
  height: 100px;
  font-size: 13px;
  font-weight: 200px;
  margin: auto;
  transition: all 0.6s ease;
  -moz-transition: all 06s ease;
  -webkit-transition: all 0.6s ease;
  color: rgb(51, 51, 51);
  padding:5px;
}

.profile-navigation-item:hover
{
  cursor: pointer;
  background-color: #ebecea;;
}

.profile-glyph
{
  font-size: 40px;
  width: 100%;
}

.profile-glyph,
.profile-body-content
{
  margin-top: 20px;
}

.profile-left,
.profile-right
{
  padding-left: 0 !important;
}

#song-column
{
  position: fixed;
  right: 0;
  top: 0;
  width: 0;
  background-color: #333;
  height: 100%;
  color: white;
}

#hide
{
  float: right;
  cursor: pointer;
  padding: 10px;
}

.instrument-pic
{
  width: 64px;
  height: 64px;
  margin-left: 10px;
  margin-right: 10px;
}

.instruments-section
{
  margin-bottom: 10px;
}

.search-background
{
  display:none;
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  z-index:-1;
  background-image: url(/assets/jammer_background.jpg);
}
